{% extends 'base.html.twig' %}



{% block body %}
<div class="col">
    <h1>Search</h1>


{% if data is defined %}

	{% if data|length > 0 %}
		<h3>Items: {{data|length}}</h3>
	 	<table class="table">
	        <thead>
	            <tr>
	                <th>Name</th>
	                <th>Surname</th>
	                <th>Address</th>
	                <th>Owner</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for address in data|slice(0 + pagination, 5) %}
	            <tr>
	                <td>{{ address.name }}</td>
	                <td>{{ address.surname }}</td>
	                <td>{{ address.address }}</td>
	                <td>{{ address.owner.username }}</td>
	                <td>
	                    <a class="btn btn-success" href="{{ path('addresses_show', {'id': address.id}) }}">show</a>
	                    <a class="btn btn-warning" href="{{ path('addresses_edit', {'id': address.id}) }}">edit</a>
	                </td>
	            </tr>
	        {% else %}
	            <tr>
	 
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	    {% else %}
	    <h3>Can't find anything, search again</h3>
	{% endif %}
{% endif %}


	<div class="d-flex justify-content-center">
		{% if query is defined and data|length > 5  %}
			{% for i in 1..((data|length) / 5) | round(0, 'ceil') %}
			{% if i >= 1 and data|length > 0 %}
		 		<a class="btn btn-info px-3" href="{{ path('search', {'query':query,'pagination': i * 5 - 5 }) }}">{{i}}</a>
		 	{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}
