
<form action="/cardealer/public/index.php/ads/search" method="GET">
  <div class="row my-2">

  <div class="col-4">
     <div class="form-group">
      <select id="maker" class="form-control" name="maker""
       onChange="getModels(this.value);" onchange="location.reload()">
        <option value="">Make</option>
                {% for make in models %}
        <option value="{{ make.maker }}">{{ make.maker }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="row">

      <div class="col-6"><div class="form-group">
      <select id="yearfrom" class="form-control" name="yearfrom">
        <option value="">1934</option>
        {% for i in range(2020, 1935) %}
            <option value ="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
    </div>
    </div>
      <div class="col-6"><div class="form-group">
      <select id="yearto" class="form-control" name="yearto">
        <option value="">2020</option>
              {% for i in range(2020, 1935) %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
    </div></div>

    </div>
     <div class="form-group">
      <select id="mileage" class="form-control" name="mileage">
        <option value="">Miles under</option>
        <option value="50000">50000</option>
        <option value="100000">100000</option>
        <option value="150000">150000</option>
        <option value="200000">200000</option>
        <option value="250000">250000</option>
        <option value="300000">300000</option>
      </select>
    </div>
  </div>


  <div class="col-4">
     <div class="form-group">
      <select id="model" class="form-control" name="model">
        <option value="">Model</option>
      </select>
    </div>
    <div class="form-group">
      <select id="body" class="form-control" name="body">
        <option value="">Body</option>
        <option value="hatchback">Hatchback</option>
        <option value="estate">Estate</option>
        <option value="limousine">Limousine</option>
        <option value="cabrio">Cabrio</option>
        <option value="suv">Suv</option>
      </select>
    </div>
      <div class="row">
        <div class="col-4"><div class="form-check">
  <input class="form-check-input" type="radio" name="door" id="door" value="" checked>
  <label class="form-check-label" for="exampleRadios1">
    Door
  </label>
</div></div>
        <div class="col-4"><div class="form-check">
  <input class="form-check-input" type="radio" name="door" id="door" value="2/3">
  <label class="form-check-label" for="exampleRadios1">
    2/3 Door
  </label>
</div></div>
        <div class="col-4"><div class="form-check">
  <input class="form-check-input" type="radio" name="door" id="door" value="4/5">
  <label class="form-check-label" for="exampleRadios1">
    4/5 Door
  </label>
</div></div>
      </div>
  </div>


  <div class="col-4">
     <div class="form-group">
      <input id="price" class="form-control" value="" name="price" placeholder="Price under">
      </input>
    </div>
    <div class="form-group">
      <select id="fuel" class="form-control" name="fuel">
        <option value>Fuel</option>
        <option value="gasoline">Gasoline</option>
        <option value="diesel">Diesel</option>
        <option value="lpg">LPG</option>
        <option value="hybrid">Hybrid</option>
        <option value="electro">Electro</option>
      </select>
    </div>
     <button type="submit" class="btn btn-primary">Search</button>
  </div>
  </div>
</form>
