{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
               
    <div class="row">
                <h3>Favorites:</h3>

        {% for ad in ads %}
            <div class="col-9 p-1" >  
                <div class="row d-block py-2"  style="background: #f5f5f5" >

                    <div class="div">
                        <p class="item-text px-1">{{ad.maker ~ ' ' ~ ad.model}} 
                        <strong class="float-right">{{ad.price}}E</strong></p>
                    </div>
                    <div class="row">
                    <div class="col-4"><a href="{{ path('ads_show', {'id': ad.id}) }}">
                        <img style="width: 180px; height: auto;" 
                        class="w-100" src="{% if ad.pictures[0] is defined %}{{ asset('images/')}}{{  ad.pictures[0] }}
                        {% else %}https://image.shutterstock.com/image-illustration/black-linear-photo-camera-logo-260nw-1412111903.jpg{% endif %}" alt="">
                    </a>
                    </div>
                    <div class="col-8">
                        <div>{{ad.year}}.  |  {{ad.mileage}}km  |  {{ad.fuel}}  |  {{ad.body}}</div>
                        <div>  {{ad.hp}} ks, {{ad.gearchange}}, {{ad.aircon}}</div>
                        <div>{{ad.door}} doors, {{ad.seats}} seats, {{ad.insurance}}</div>
                       <div>{{ad.mileage}} km</div>
                    </div>

                    </div>

                </div>

            </div>
        {% endfor %}
    </div>
        
 
{% endblock %}
