{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
        {% include './assets/search.html.twig' %}
    <div class="row">
        {% for ad in ads %}
            <div class="col-3 my-2" style="border:1px solid cornsilk" >  
                <div class="div">
                    <p>{{ad.maker ~ ' ' ~ ad.model}} <strong class="float-right">{{ad.price}}</strong></p>
                    <a href="{{ path('ads_show', {'id': ad.id}) }}">
                <img class="w-100" src="{{ asset('images/')}}{{  ad.pictures[0] }}" alt="">
            </a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
