{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
        {% include './assets/car-search.html.twig' %}
        <div class="row">
            <div class="col-6">
                <h3>We have {{count|length}} ads</h3>
            </div>
            <div class="col-6">
                <form action="/cardealer/public/index.php/cars/search" method="GET" class="form-inline float-right">
                  <div class="form-group  px-2">
                    <select class="form-control" id="exampleFormControlSelect1" name="sort">
                      <option value="">Sort by...</option>
                        <option value="price ASC">Price ASC</option>
                      <option value="price DESC">Price DESC</option>
                      <option value="year ASC">Year ACS</option>
                      <option value="year DESC">Year DESC</option>
                      <option value="added ASC">Added ASC</option>
                      <option value="added DESC">Added DESC</option>
                      <option value="mileage ASC">Mileage ACS</option>
                      <option value="mileage DESC">Mileage DESC</option>
                    </select>               
                  </div>   
                  <button type="submit" class="btn btn-primary">Sort</button>
                </form>
            </div>
        </div>  

                
    <div class="row">

        {% for ad in ads %}
            <div class="col-lg-9 py-3">  

                    <div class="searchitem">
                        <h2 class="item-text">{{ad.maker ~ ' ' ~ ad.model}}
                        <strong class="float-right priceindex">{{ad.price}}E</strong></h2>
                    </div>
                    <div class="row searchitem-body">
                    <div class="col-lg-5 col-sm-6">

                        <a class="" href="{{ path('ads_show', {'id': ad.id}) }}"> 
         <p class="item-text"><strong class="float-right priceindex">{{ad.pictures|length}} <i class="fas fa-camera-retro"></i></strong></p> 
            <div style="min-width:100%;height:220px; background-size:cover;   background-position:center; background-image: url({% if ad.pictures[0] is defined %}{{ asset('images/')}}{{  ad.pictures[0] }}
    {% else %}https://image.shutterstock.com/image-illustration/black-linear-photo-camera-logo-260nw-1412111903.jpg{% endif %})"> 
    
            </div>
            </a>
                    </div>
                    <div class="col-lg-7 col-sm-6">
                        <div>{{ad.year}}.  |  {{ad.mileage}}km  |  {{ad.fuel|title}}  |  {{ad.body|title}}</div>
                        <div>  {{ad.hp}} ks, {{ad.gearchange}}, {{ad.aircon}} Air conditioning</div>
                        <div>{{ad.door}} doors, {{ad.seats}} seats, {{ad.insurance}}</div>
                       <div>{{ad.mileage}} km</div>
                    </div>

                    </div>


            </div>
        {% endfor %}
    </div>


    <div class="d-flex justify-content-center my-2">
        {% if count is defined and count|length > 12  %}
            {% for i in 1..((count|length) / 12) | round(0, 'ceil') %}
            {% if i >= 1 and count|length > 0 %}
            <a class="btn btn-info px-3" href="{{ path('search', {'pagination': i-1}) }}?{{ app.request.querystring }}">{{i}}</a>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
