{% extends 'base.html.twig' %}

{% block title %}Ads{% endblock %}

{% block body %}
    <h1>Ads</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Maker</th>
                <td>{{ ad.maker }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ ad.model }}</td>
            </tr>
            <tr>
                <th>Fuel</th>
                <td>{{ ad.fuel }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ ad.volume }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ad.price }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ ad.year }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ ad.body }}</td>
            </tr>
            <tr>
                <th>Pictures</th>
                <td>{{ ad.pictures ? ad.pictures|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Equipment</th>
                <td>{{ ad.equipment ? ad.equipment|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ ad.about }}</td>
            </tr>
            <tr>
                <th>Door</th>
                <td>{{ ad.door }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ ad.contact ? ad.contact|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ads_index') }}">back to list</a>

    <a href="{{ path('ads_edit', {'id': ad.id}) }}">edit</a>

    {{ include('ads/_delete_form.html.twig') }}
{% endblock %}
