{% extends 'base.html.twig' %}

{% block title %}New Ads{% endblock %}

{% block body %}


<h4>User {{message.sender}} sent message on {{message.timestamp|date('Y-m-d H:i:s')}} </h4>
{% if car is defined %}<p>{{car}}</p> {% else %}<p>Ad is removed from site!</p>
    {% endif %}

<p>{{message.text}}</p> 
<a class="btn btn-success" href="{{ path('message.reply', {'id': message.ad, 'sender':sender.id}) }}">Reply</a>

{% endblock %}


