{% extends 'base.html.twig' %}

{% block title %}New Ads{% endblock %}

{% block body %}


<h4>User {{message.sender}} sent message on {{message.timestamp|date('Y-m-d H:i:s')}} </h4>
<p>{{car}}</p> 
<p>{{message.text}}</p> 
<a class="btn btn-success" href="{{ path('message.create', {'id': message.ad}) }}">Reply</a>

{% endblock %}


